<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body background='http://pre01.deviantart.net/dfda/th/pre/i/2010/335/b/b/the_trading_of_goods_by_vendelrus-d33zdll.jpg'>
<div class="container">

    <div class="jumbotron text-center" style="background-color:rgba(0, 0, 0, 0);">
        <h1 style='color:white'><span class="fa fa-lock"></span> Market App</h1>

        <p style='color:white'>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
</body>
</html>
